asgiref==3.8.1
Django==4.2.13
django-cors-headers==4.3.1
djangorestframework==3.15.1
node==1.2.1
odict==1.9.0
plumber==1.7
sqlparse==0.5.0
typing_extensions==4.11.0
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.event==5.0
zope.hookable==6.0
zope.interface==6.3
zope.lifecycleevent==5.0
zope.proxy==5.2
